.copy-code {
    display: flex;
    align-items: center;  
    justify-content: center;
}

.copy-code h2 {
    display: inline-block; /* Prevent h2 from taking full width */

    border-radius: 5px;
    font-size: 35px;
}

.copy-button {
    color: black;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.copy-button:hover {
    color: white;
}

.copy-button:active {
    transform: scale(0.8);
}

.instruction {
    font-size: 25px;
    font-family: var(--secondary-font);
}