/* ChatbotTutorial.css */
  
  .chatbot-tutorial {
    background-color: var(--background-one);
  }
  
  .chatbot-subtitle {
    font-size: 60px;
    color: var(--accent-three);
    margin-bottom: 1em;
    font-family: 'Chakra Petch', sans-serif;
    margin-right: 2em;
    margin-left:2em;
  }
  
  .start-chat-button {
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .start-chat-button:hover {
    background-color: var(--accent-five);
  }
  