/* DemoChat.css */
/* Tooltip styles */
[demo-data-tooltip] {
  position: relative;
}

[demo-data-tooltip]::after { /* Tooltip text */
  content: attr(demo-data-tooltip);
  position: absolute;
  left: 50%;
  background-color: rgb(178, 225, 244);
  color: var(--accent-three);
  font-size: 0.9em;
  font-family: var(--secondary-font);
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none; 
  z-index: 100;
  opacity: 1;
  box-shadow: 0.3em 0.3em 0 0 rgb(0, 119, 167);
  /* animation: bob 1s infinite; */
}

[demo-data-tooltip]::before { /* Tooltip arrow */
  content: '';
  position: absolute;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; 
  z-index: 100;
  /* animation: bob 1s infinite; */
}

/* Fading effects */
[demo-data-tooltip].show::after { /* Tooltip text */
  animation: fade-in 1.0s, bob 1s infinite;
  animation-fill-mode: forwards;
}

[demo-data-tooltip].show::before { /* Tooltip arrow */
  animation: fade-in 1.0s, bob 1s infinite;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bob {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -0.5em);
  }
}

.bubble[demo-data-tooltip]::before {
  top: -0.25em;
}

.bubble[demo-data-tooltip]::after {
  top: -3em;
}

.send-button[demo-data-tooltip]::before {
  top: -0.2em;
}

.send-button[demo-data-tooltip]::after {
  top: -2.95em;
  left: 10px;
}

.chat-tutorial-page-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-two);
}

.demo-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}
  
.chatbot-button {
  position: relative;
  margin: 0 auto 2em auto;
  margin-top: 30px;
  padding: 10px 50px;
  font-weight: bold;
  font-size: 30px;
  background-color: white;
  border: none;
  border-radius: 50px;
  font-family: var(--universal-font);
  box-shadow: 0.3em 0.3em 0 0 black;
}

.chatbot-shadow-button {
  position: absolute;
  background-color: var(--accent-two);
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border-radius: 2em;
  box-shadow: 0 0 10px black;
  z-index: 0;
}

.chatbot-button-text {
  position: relative;
  background-color: white;
  color: var(--accent-three);
  font-size: 1.9em;
  font-family: var(--universal-font);
  border-radius: 2em;
  padding: 0.5em 1.5em;
}

.chat-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-bubble {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.ai-response {
  justify-content: flex-start;
}

.user-response {
  justify-content: flex-end;
}

.avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: var(--universal-font);
}

.user-response .avatar {
  background: var(--button-two);
  color: black;
  margin: 0 1em 0 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.ai-response .avatar {
  background-color: white;
  color: black;
  margin: 0 0.5em 0 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.bubble {
  padding: 1em;
  border-radius: 20px;
  font-family: var(--universal-font);
  font-size: 1.3em;
  max-width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.user-response .bubble {
  background: var(--button-two);
  color: black;
}

.ai-response .bubble {
  background-color: white;
  color: black;
}


.instruction-can {
  position: relative;
  text-align: center;
  font-family: var(--universal-font);
  font-size: 2em;
  color: black;
  bottom: 1%;
  font-weight: bold;
  animation: fade-flash-chat 1.0s, mini-bob-chat 2s infinite 2s;
  animation-fill-mode: forwards; 
}

.instruction-wait {
  position: relative;
  text-align: center;
  font-family: var(--universal-font);
  font-size: 2em;
  color: black;
  bottom: 1%;
  animation: fade-flash2-chat 1.0s;
  font-weight: bold;
}

@keyframes fade-flash-chat {
  0% {
    opacity: 0;
  }
  33% {
    transform: rotate(5deg);
  }
  50% {
    bottom: 2%;
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

@keyframes fade-flash2-chat {
  0% {
    opacity: 0;
  }
  33% {
    transform: rotate(5deg);
  }
  50% {
    bottom: 2%;
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

@keyframes mini-bob-chat {
  0%, 50%, 100% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -0.5em);
  }
}

.input-area {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.chat-input {
  width: 80%;
  padding: 0.5em;
  border-radius: 20px;
  /* border: 1px solid #ccc; */
  border: 0px;
  font-size: 1.2em;
  font-family: var(--universal-font);
  outline: none;
  cursor: not-allowed;
  background-color: white; /* override disabled input background */
}

.chat-input[type="text"]:focus {
  border-color: var(--background-two);
}

.send-button {
  background-color: var(--button-two);
  color: var(--accent-three);
  border: none;
  border-radius: 20px;
  padding: 0.3em 1em;
  font-size: 1.5em;
  cursor: not-allowed;
  margin-left: 1em;
  font-family: var(--universal-font);
  box-shadow: 0.3em 0.3em 0 0 black;
  transition: background-color 0.3s ease, color 0.3s ease;
} 
  
.send-button:active {
  transform: translate(0.3em, 0.3em); 
  box-shadow: 0em 0em 0 0; 
}

.send-button:hover {
  background-color: var(--accent-three);
  color: var(--button-two);
}

.demo-transitioner {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-one);
  display: none;
  transition: left 0.4s ease-in-out;
  z-index: 1000;
}

.demo-transitioner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  text-align: center;
}

.demo-go {
  left: 0;
  display: block;
  transition: left 0.25s ease-in-out;
}

.demo-col {
  background-color: var(--background-two);
  animation: demo-colorChange 1s ease-out;
}

@keyframes demo-colorChange {
  0% {
    background-color: var(--background-one);
  }
  100% {
    background-color: var(--background-two);
  }
}

.demo-fade {
    /* left: -100%; */
    /* transition: left 0.5s ease-in-out; */
    opacity: 0;
    animation: fadeOut 0.5s ease-in;
    /* top: -100%; */
    /* transition: top 0.5s ease-in; */
  }
  
  @keyframes demo-fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 