/* DemoChat.css */
/* Tooltip styles */
[data-tooltip] {
  position: relative;
}


[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -50px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #26244c;
  font-size: 0.90em;
  font-family: 'Jockey One';
  padding: 0.5em;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none; 
  z-index: 100;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

[data-tooltip]:hover::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
  z-index: 100;
}

.chat-tutorial-page-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #99d6ea;
}

.demo-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}
  
.chatbot-button {
  position: relative;
  margin: 0 auto 2em auto;
}

.chatbot-shadow-button {
  position: absolute;
  background-color: #089aca;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  border-radius: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.chatbot-button-text {
  position: relative;
  background-color: white;
  color: #26244c;
  font-size: 1.9em;
  font-family: 'Jaro';
  border-radius: 2em;
  padding: 0.5em 1.5em;
}

.chat-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat-bubble {
  display: flex;
  align-items: center;
  margin: 1em 0;
}

.ai-response {
  justify-content: flex-start;
}

.user-response {
  justify-content: flex-end;
}

.avatar {
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Jockey One';
}

.user-response .avatar {
  background: #fbdf82;
  color: black;
  margin: 0 1em 0 0.5em;
}

.ai-response .avatar {
  background-color: #089aca;
  color: white;
  margin: 0 0.5em 0 1em;
}

.bubble {
  padding: 1em;
  border-radius: 20px;
  font-family: 'Jockey One';
  font-size: 1.3em;
  max-width: 70%;
}

.user-response .bubble {
  background-color: #fbdf82;
  color: black;
}

.ai-response .bubble {
  background-color: #089aca;
  color: white;
}

.input-area {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.chat-input {
  width: 80%;
  padding: 0.5em;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  font-family: 'Jockey One';
  outline: none;
}

.chat-input[type="text"]:focus {
  border-color: #99d6ea;
}

.send-button {
  background-color: #fbdf82;
  color: #26244c;
  border: none;
  border-radius: 20px;
  padding: 0.3em 1em;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 1em;
  font-family: 'Jockey One';
}

.send-button:hover{
  background-color: #ffb703;
}
  