/* Tutorial.css */
  .tutorial-container {
    background-color: var(--background-one);
  }
  
  .tutorial-subtitle {
    margin: 10px;
    margin-bottom: 0.15em;
    color: var(--accent-three);
    font-size: 60px;
  }

  .tutorial-description{
    margin: 10px;
    margin-bottom: 3.5em;
    color: var(--accent-three);
  }
  
  .tutorial-options {
    display: flex;
    gap: 1em;
  }
  
  .yes-button, .no-button {
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .yes-button:hover, .no-button:hover {
    background-color: var(--accent-five);
  }
  