Tutorial.css

html, body {
  overflow: auto; /* Allows scrolling */
  height: 100%; /* Ensures the page respects content height */
}


.tutorial-container {
    background-color: var(--background-one);
  }

  .con-shadow-container {
    margin-top: 0px;
    background-color: white;
    border-radius: 3em;
    box-shadow: 10px 10px 0 0 var(--accent-one);
    align-items: center;  /* Center align content horizontally */
    padding: 40px 40px; /* Add padding for spacing */
    position: relative; /* Position context for the shadow */
    white-space: pre-line;
    text-align: justify;
    width: 80%;
    overflow-y: auto;
    height: 50%;
    font-family: var(--secondary-font);
  }
  
  .con-subtitle {
    color: var(--accent-three);
    font-size: 30px;
    font-family: var(--universal-font);
    font-size: 80px;
  }
  
  .brief-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-family: var(--universal-font);
  }
  
  #yes-button {
    margin-top: 25px;
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: var(--universal-font);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  #yes-button:active {
    align-items: center;  /* Center align content horizontally */
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  #no-button {
    margin-top: 25px;
    margin-left:0;
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: var(--universal-font);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  #no-button:active {
    align-items: center;  /* Center align content horizontally */
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  .wait {
    background-color: var(--button-two);
  }
  
  