:root {
  --universal-font: 'Chakra Petch', sans-serif;
}

:root.yellow-blue-theme {
  --background-one: #fdd700;
  --background-two: #00adfd;
  --accent-one: #fdd700;
  --accent-two: #00adfd;
  --accent-three: black;
  --accent-four: white;
  --accent-five: grey;
  --button-one: #00adfd;
  --button-two: #fdd700;
  --menu-bubble: black;
  --option-circles: black;
  --score: white;
  --button-shadow: #00adfd;
}

:root.yellow-blue-theme-old {
  --background-one: #FBDF82;
  --background-two: #99D6EA;
  --accent-one: #FFB703;
  --accent-two: #089ACA;
  --accent-three: #26244C;
  --accent-four: #757575;
  --accent-five: #4c4b4b;
  --button-one: #26244C;
  --button-two: #FBDF82;
  --menu-bubble: #023047;
  --option-circles: #26244C;
  --score: white;
  --button-shadow: #089ACA;
}

:root.pink-grey-theme-old {
  --background-one: #da7e7e;
  --background-two: #4c4b4b;
  --accent-one: #da7e7e;
  --accent-two: #4c4b4b;
  --accent-three: black;
  --accent-four: white;
  --accent-five: grey;
  --button-one: #4c4b4b;
  --button-two: #da7e7e;
  --menu-bubble: black;
  --option-circles: black;
  --score: white;
  --button-shadow: #da7e7e;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: var(--text-color);
  font-family: 'Chakra Petch', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}