:root {
  --universal-font: 'Chakra Petch', sans-serif;
}

:root.yellow-blue-theme {
  --background-one: #FBDF82;
  --background-two: #99D6EA;
  --accent-one: #FFB703;
  --accent-two: #089ACA;
  --accent-three: #26244C;
  --accent-four: #757575;
  --accent-five: #4c4b4b;
  --button-one: #26244C;
  --button-two: #FBDF82;
  --option-circles: #26244C;
  --score: white;
  --button-shadow: #089ACA;
}

:root.pink-grey-theme {
  --background-one: #E4E4E4;
  --background-two: #E4E4E4;
  --accent-one: #da7e7e;
  --accent-two: #4c4b4b;
  --accent-three: #4c4b4b;
  --accent-four: #4c4b4b;
  --accent-five: #4c4b4b;
  --button-one: #da7e7e;
  --button-two: #da7e7e;
  --option-circles: white;
  --score: #4c4b4b;
  --button-shadow: #da7e7e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: var(--text-color);
  font-family: 'Chakra Petch', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}