    /* .newForm{
      width: 97%;
      position: absolute;
      bottom: 20px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-items:center;
      padding: 0px 20px;
  
  
      input{
        flex:1;
        padding:20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--accent-three);
        font-family: var(--universal-font);
      }
  
      button,label{
        border-radius: 50%;
        background-color: var(--accent-five);
        border: none;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
  
        &:hover{
          background-color: var(--background-one);
        }
        
        img{
          width: 25px;
          height: 25px;
        }
      }
    } */

.official {
  cursor: auto !important;
}

.transitioner {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-one);
  display: none;
  transition: left 0.4s ease-in-out;
}

.transitioner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  text-align: center;
}

.go {
  left: 0;
  display: block;
  transition: left 0.25s ease-in-out;
}
