.endChat{
    padding-bottom: 80px;
  }
    .newForm{
      width: 97%;
      position: absolute;
      bottom: 20px;
      background-color: white;
      border-radius: 20px;
      display: flex;
      align-items:center;
      padding: 0px 20px;
  
  
      input{
        flex:1;
        padding:20px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #4c4b4b;
        font-family: 'Chakra Petch', sans-serif;
      }
  
      button,label{
        border-radius: 50%;
        background-color: #4c4b4b;
        border: none;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
  
        &:hover{
          background-color: #da7e7e;
        }
        
        img{
          width: 25px;
          height: 25px;
        }
      }
    }