.end-screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: var(--c2);
}

.results-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: var(--accent-four);

    border-radius: 50px;
    box-shadow: 15px 15px 0 0 #3E3B41; /* TO DO: change to variable */
}

.results-container::after { /* Speech bubble tail */
    content: '';
    position: absolute;
    top: 95%;
    left: 10%;

    /* No width/height so that triangle can be made purely from border */
    width: 0; 
    height: 0;

    border: 100px solid transparent;
    border-top-color: var(--accent-four);
    border-bottom: 0;
    border-left: 0;
    border-radius: 15px;
}

.results-container::before { /* Speech bubble tail shadow */
    content: '';
    position: absolute;
    top: 100%; /* shadow must be below the speech bubble */
    left: 10.5%; /* offset the shadow */

    /* No width/height so that triangle can be made purely from border */
    width: 0; 
    height: 0;

    border: 85px solid transparent; /* must be shorter than the tail */
    border-top-color: #3E3B41; /* TO DO: change to variable */
    border-bottom: 0;
    border-left: 0;
    border-radius: 15px;
}

.top-half {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.bottom-half {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.chatbot-results,
.user-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Equal width */
    min-width: 150px;
}

.chatbot-results > h2,
.user-results > h2 {
    font-size: 100px;
    color: var(--accent-three);
    position: relative;
}

.chatbot-results > h2::after,
.user-results > h2::after {
    content: '';
    background-color: var(--c2);
    display: block;
    position: absolute;
    bottom: 20px;
    left: -4%; /* Offset to center with text */
    z-index: -1;
    width: 110%;
    height: 20px;
}

.chatbot-results > p,
.user-results > p {
    font-size: 125px;
    color: #3E3B41; /* TO DO: change to variable */
}

.win-banner {
    position: absolute;
    top: -20%;

    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win-text {
    font-size: 60px;
    color: var(--accent-four);
    /*text-shadow: 2px 2px 0 #3E3B41; /* TO DO: change to variable */

    padding: 5% 2em;
    background-color: #3E3B41;
    border-radius: 50px;
}

.divider {
    width: 5%;
    height: 50%;
    background-color: #3E3B41;
    border-radius: 0px 0px 50px 50px;
}

.personality {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    gap: 1em;
    position: relative;
    padding: 5%;
    border: 8px solid var(--c2);
    border-radius: 25px;
    font-family: var(--secondary-font);
}

.personality::after { /* Sticker note tail */
    content: '';
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 0;
    height: 0;
    border: 15px solid var(--c2);
}

.personality > h2 {
    font-size: 40px;
}

.personality > p {
    color: #3E3B41; /* TO DO: change to variable */
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    flex: 1.5;
    height: 100%;
    font-family: var(--secondary-font);
    border: 8px solid var(--c2);
    border-radius: 25px;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    height: 100%;
    
    color: var(--accent-four);
    background-color: var(--c2);
}

.divider2 {
    width: 90%;
    height: 3%;
    background-color: var(--accent-four);
    border-radius: 30px;
}

.right-side {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */ 
    gap: 1em;
    height: 100%;
    position: relative;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-four);
    color: var(--c2);
    font-size: 24px;
    border-radius: 15px;
}

.unplayed {
    font-size: 50px;
    font-weight: bold;
}

.vertical-divider,
.horizontal-divider {
    position: absolute;
    background-color: var(--c2);
    border-radius: 30px;
}

.horizontal-divider { /* Horizontal divider between the rows */
    width: calc(100% - 16px); /* Accounts for gap spacing */
    height: 8px; /* Thickness of the line */
    left: 8px; /* Moves left to align with grid gap */

    top: 48.5%; /* Centered between the rows */
}

.vertical-divider { /* Vertical dividers between the columns */
    width: 8px; /* Thickness of the line */
    height: calc(100% - 16px); /* Accounts for gap spacing */
    top: 8px; /* Moves down to align with grid gap */

    /* left is set inline */
}

.yes-button, .no-button {
    margin-top: 1em; 
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: var(--universal-font);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  .no-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  @media (max-height: 950px) {
    .results-container {
        transform: scale(0.9); /* Scale down the results container */
    }

    .cell {
    font-size: 20px;}

    .win-banner {
        transform: scale(0.95); 
        top: -21%;
    }
}

@media (max-height: 900px) {
    .results-container {
        transform: scale(0.88); /* Scale down the results container */
    }
    .cell {
        font-size: 19px;
    }
}

@media (max-height: 879px) {
    .results-container {
        transform: scale(0.85); /* Scale down the results container */
    }
    .cell {
        font-size: 17px;
    }
}

@media (max-height: 840px) {
    .results-container {
        transform: scale(0.82); /* Scale down the results container */
    }
}

@media (max-height: 796px) {
    .results-container {
        transform: scale(0.75); /* Scale down the results container */
    }
    .cell {
        font-size: 16px;
    }
}

@media (max-height: 743px) {
    .results-container {
        transform: scale(0.7); /* Scale down the results container */
    }
}

@media (max-height: 690px) {
    .results-container {
        transform: scale(0.65); /* Scale down the results container */
    }
    .cell {
        font-size: 15px;
    }
}