.chatPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
    .wrapper{
      margin-top: 10px;
      margin-bottom: 100px;
      flex:1;
      overflow-y: auto;
      width: 100%;
      display: flex;
      justify-content: center;
  
      .chat{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        p,li{
          margin: 10px 0px;
        }
  
        .message{
          padding-left: 30px;
          padding-right: 20px;
          background-color: white;
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-start;
  
          &.user{
            padding-left: 20px;
            padding-right: 20px;
            background-color: #4c4b4b;
            color: white;
            border-radius: 20px;
            max-width: 80%;
            align-self: flex-end;
          }
        }
      }
    }
  }