.chatPage{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   
    .wrapper{
      margin-top: 10px;
      margin-bottom: 10px;
      flex:1;
      overflow-y: auto;
      width: 100%;
      display: flex;
      justify-content: center;
  
      .chat{
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        p,li{
          margin: 10px 0px;
        }
  
        .message{
          /* copied from DemoChat.css */
          /* padding: 1em; */
          /* border-radius: 20px; */
          font-family: 'Jockey One';
          font-size: 1.3em;
          max-width: 70%;

          padding-left: 30px;
          padding-right: 20px;

          /* modified */
          background-color: var(--accent-two);
          color: white;
        
          border-radius: 20px;
          max-width: 80%;
          align-self: flex-start;
  
          &.user{
            padding-left: 20px;
            padding-right: 20px;

            /* modified */
            background-color: var(--background-one);
            color: black;          

            border-radius: 20px;
            max-width: 80%;
            align-self: flex-end;
          }
        }
      }
    }
  }

  .user-response .avatar {
    background: var(--background-one);
    color: black;
    margin: 0 1em 0 0.5em;
  }
  
  .ai-response .avatar {
    background-color: var(--accent-two);
    color: white;
    margin: 0 0.5em 0 1em;
  }
  
  .hide {
    display: none !important;
  }