Tutorial.css
.tutorial-container {
    background-color: var(--background-one);
  }

  .survey-shadow-container {
    background-color: white;
    border-radius: 3em;
    box-shadow: 10px 10px 0 0 var(--accent-one);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align content horizontally */
    justify-content: center;  /* Center align content vertically */
    padding: 40px 20px; /* Add padding for spacing */
    position: relative; /* Position context for the shadow */
    width: 65%;
  }
  
  .brief-subtitle {
    margin: 20px;
    margin-bottom: 1em;
    color: var(--accent-three);
    font-size: 30px;
    font-family: var(--secondary-font);
  }
  
  .brief-options {
    display: flex;
    gap: 1em;
    font-family: var(--universal-font);
  }
  
  .yes-button, .no-button {
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: var(--universal-font);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  .no-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }
  
  .brief-transitioner {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    transform-origin: center;
    background-color: var(--background-two);
    display: block;
    transition: left 0.5s ease-in-out;
    opacity: 1;
    z-index: 1000;
  }
  
  .brief-transitioner-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 5em;
    text-align: center;
  }
  
  .brief-go {
    position: relative;
    /* left: -100%; */
    /* transition: left 0.5s ease-in-out; */
    height: 10%;
    width: 100%;
    left: 0%;
    top: -5%;
    background-color: var(--transparent);

    transition: height 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
  }
  
  .brief-transitioner-underline {
    display: block;
    position: relative;
    transform-origin: center;
    top: 65%; /* need a better metric */
    left: 25%;
    width: 50%;
    height: 2vh;
    background-color: var(--accent-four);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
  }

  .brief-underline-go {
    animation: swoosh 1.5s ease-in-out;
  }

@keyframes swoosh {
    0% { transform: scaleX(0); }
    50% { transform: scaleX(1); opacity: 1 }
    100% { transform: scaleX(1); opacity: 0 }
  }

  .brief-underline-hide {
    display: none;
  }
  

  .brief-txt {
    font-size: 5em;
    transition: font-size 0.5s ease-in-out;
  }
