.dashboardLayout {
    display: flex;
    gap: 0px;
    height: 100%;
  
    .menu {
      flex: 1;
      font-weight: bold;
      color: var(--accent-three);
    }
  
    .content {
      flex: 5;
      background-color: var(--background-two);
    }
  }