Tutorial.css
.tutorial-container {
    background-color: var(--background-one);
  }

  .demographic-container {
    background-color: white;
    border-radius: 3em;
    box-shadow: 10px 10px 0 0 var(--accent-one);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align content horizontally */
    justify-content: center;  /* Center align content vertically */
    padding: 40px 20px; /* Add padding for spacing */
    position: relative; /* Position context for the shadow */
    width: 60%;
    min-height: 500px;  /* Set a minimum height */
    height: 550px;      /* Set a fixed height */
    width: 60%;
    min-width: 500px;   /* Set a minimum width to prevent container from becoming too narrow */
    margin: 20px auto;  /* Center the container and add vertical spacing */
    overflow-y: auto;
  }
  
  .brief-subtitle {
    margin: 20px;
    margin-bottom: 1em;
    color: var(--accent-three);
    font-size: 30px;
    font-family: var(--universal-font);
  }
  
  .demographic-options {
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: var(--universal-font);
  }

  .demographic-option {
      display: flex; /* Use flexbox to align items */
      align-items: center; /* Center align items vertically */
  }

  .demographic-option p {
    margin: 0;
    margin-left: 20px;
    font-size: large;
    font-weight: bold;
    font-family: var(--universal-font);
    color: var(--accent-two);
  }
  
  .demographic-circle {
    height: 30px;
    width: 30px;
    background-color: var(--option-circles);
    border-radius: 50%;

    display: inline-block;
  }

  input[type="radio"]:checked + .demographic-circle {
    background-color: var(--accent-one);
  }

  .gender-input{
    font-family: var(--universal-font);
    font-size: large;
    margin-left: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent-two); /* Optional: Add a bottom border for the line effect */
  }
  
  .age-input{
    font-family: var(--universal-font);
    font-size: large;
    margin-left: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--accent-two); /* Optional: Add a bottom border for the line effect */
    text-align: center; /* Center the text inside the input */
  }

  .demographic-option input[type="checkbox"] {
    transform: scale(1.7); 
  }
  
  .demographic-option input[type="checkbox"]:checked {
    accent-color: var(--accent-one); 
}