
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: white;
  }

  .welcome {
    background-color: var(--background-one);
  }
  
  .welcome-title {
    font-size: 120px;
    margin: 0.1em;
    color: var(--accent-three);
  }
  
  .subtitle {
    font-size: 70px;
    margin: 0.1em;
    color: var(--accent-three);
  }
  
  .play-button {
    padding: 0.5em 2em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 1em;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .play-button:hover {
    background-color: var(--accent-five);
  }
  