Tutorial.css
.tutorial-container {
    background-color: var(--background-one);
  }

  .survey-shadow-container {
    background-color: white;
    border-radius: 3em;
    box-shadow: 10px 10px 0 0 var(--accent-one);
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center align content horizontally */
    justify-content: center;  /* Center align content vertically */
    padding: 40px 20px; /* Add padding for spacing */
    position: relative; /* Position context for the shadow */
    width: 65%;
  }
  
  .brief-subtitle {
    margin: 20px;
    margin-bottom: 1em;
    color: var(--accent-three);
    font-size: 30px;
    font-family: var(--secondary-font);
  }
  
  .brief-options {
    display: flex;
    gap: 1em;
    font-family: var(--universal-font);
  }
  
  .yes-button, .no-button {
    padding: 0.5em 1.5em;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    font-family: var(--universal-font);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  .no-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }
  
  