/* Game.css */
  .game{
    background-color: var(--background-two);
    padding: 0px;
    margin: 0px;
  }

  .game-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Horizontal layout for AI score, triangle grid, and User score */
  .horizontal-layout {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed from space-around to space-between */
    width: 100%;
    position: relative;
}

  .ai-score, .user-score {
    color: var(--accent-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--universal-font);
  }
  
  .score-value {
    font-size: 2em;
    color: var(--accent-three);
  }
  
  .decision-boxes {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #4c4b4b;
  }
  
  .ai-decision, .user-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .proceed-button {
    margin: 100px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
  }

  .proceed-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  .triangle-left {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
    position: relative;
  }
  .triangle-text-left {
    position: absolute;
    left: -120px; 
/* Adjust this value to position the text */
    color: #4c4b4b;
    font-family: var(--universal-font);
    /* Optional styling */
    font-size: 18px;
    white-space: nowrap;
    transform: rotate(225deg);
}
  /* .triangle-left:hover {
    border-top: 100px solid var(--button-one);
  } */

  .triangle-right {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  /* .triangle-right:hover {
    border-bottom: 100px solid var(--button-one);
  } */

  .column-1, .column-2, .column-3, .column-4 {
    width: 105px;
    display: inline-block;
  }

  .column-5 {
    width: 100px;
    display: inline-block;
  }

  .action {
    margin-top: 30px;
  }
  
  .triangle-left.highlight {
    border-top: 100px solid var(--button-two);
  }
  
  .triangle-right.highlight {
    border-bottom: 100px solid var(--button-two);
  }

  .highlight {
    font-weight: bold;
    color: white; /* Yellow */
  }