/* Game.css */
  .game{
    background-color: var(--background-two);
    padding: 0px;
    margin: 0px;
  }

  .game-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.ai-defect-label {
    position: relative;
    left: -120px; 
    bottom: 50px;
    font-weight: bold;
    display: inline-block; 
    transform: rotate(225deg);  
    transform-origin: center; 
  }

.ai-cooperate-label {
  position: relative;
  left: -90px; 
  bottom: 40px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(225deg);  
  transform-origin: center; 

  /* OLD!!! 
  position: absolute;
  left: -116px; 
  bottom: 25px;
  color: var(--accent-three);
  font-size: 14px;
  white-space: nowrap;
  transform: rotate(225deg);
  font-weight: bold; */
}

.user-defect-label {
  position: relative;
  left: -105px; 
  bottom: 0px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(315deg);  
  transform-origin: center; 

/*   OLD!!!
  position: absolute;
  left: -110px; 
  top: 30px;
  color: var(--accent-three);
  font-size: 14px;
  white-space: nowrap;
  transform: rotate(315deg);
  font-weight: bold; */
}

.user-cooperate-label {
  position: relative;
  left: -85px; 
  bottom: 5px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(315deg);  
  transform-origin: center; 

  /* OLD!!! 
position: absolute;
left: -120px; 
top: 30px;
color: var(--accent-three);
font-size: 14px;
white-space: nowrap;
transform: rotate(315deg);
font-weight: bold; */
}
  
  /* .ai-cooperate-label {
    position: relative;
    top: -45px;
    margin-left: 25px;
    display: inline-block; 
    transform: rotate(-135deg);  
    transform-origin: center; 
  }
  .user-cooperate-label {
    position: relative;
    top: 20px;
    margin-left: 25px;
    display: inline-block;  
    transform: rotate(-45deg);  
    transform-origin: center;  
  } */
  
  /* Horizontal layout for AI score, triangle grid, and User score */
  .horizontal-layout {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Changed from space-around to space-between */
    width: 100%;
    position: relative;
}

  .ai-score, .user-score {
    color: var(--accent-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--universal-font);
  }

  .ai-message {
    font-size: 2em;
    color: red;
  }

  .user-message {
    font-size: 2em;
    color: green;
  }
  
  .score-value {
    font-size: 2em;
    color: var(--accent-three);
  }
  
  .decision-boxes {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #4c4b4b;
  }
  
  .ai-decision, .user-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .proceed-button {
    margin: 70px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 2.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
  }

  .proceed-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  .next-buttons-container {
    position: relative;
  }

  .next-buttons {
    margin: 0px 0px 20px 100px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 2.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
    /* position: absolute;
    left: 10px;
    bottom: 10px; */
    transform-origin: top right;
  }

  .next-buttons:active {
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  #help-button {
    position: absolute;
    margin: 100px;
    top: 10px;
    left: 10px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 2.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
  }
  
  #help-button:active, #proceed-chat:active {
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

  #proceed-chat {
    margin: 0px 100px 20px 0px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 2.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
    /* position: absolute;
    right: 10px;
    bottom: 10px; */
    transform-origin: top right;
}

.selected {
  background-color: var(--med-accent);
  box-shadow: 0.3em 0.3em 0 0 black;
}


.next-round-button {
  margin: 100px;
  background-color: var(--accent-three);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 var(--button-two);
  font-family: var(--universal-font);
}

.help-button { 
    font-size: 1.3em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
  }

  .help-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }

.triangle-left {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid white; /* Use 87px to ensure an equilateral triangle */
  transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
  margin-bottom: 7px;
  position: relative;
}
.triangle-text-left {
  position: absolute;
  left: -120px; 
/* Adjust this value to position the text */
  color: #4c4b4b;
  font-family: var(--universal-font);
  /* Optional styling */
  font-size: 18px;
  white-space: nowrap;
  transform: rotate(225deg);
}
/* .triangle-left:hover {
  border-top: 100px solid var(--button-one);
} */

.triangle-right {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 100px solid white; /* Use 87px to ensure an equilateral triangle */
  transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
  margin-bottom: 7px;
}

/* .triangle-right:hover {
  border-bottom: 100px solid var(--button-one);
} */

.column-1, .column-2, .column-3, .column-4 {
  width: 105px;
  display: inline-block;
}

.column-5 {
  width: 100px;
  display: inline-block;
}

  .action {
    margin-top: 30px;
  }
  
  .triangle-left.highlight {
    border-top: 100px solid var(--dark-accent);
  }
  
  .triangle-left.highlight2 {
    border-top: 100px solid var(--light-accent);
  }

  .triangle-left.highlight3 {
    border-top: 100px solid var(--med-accent);
  }

  .triangle-right.highlight {
    border-bottom: 100px solid var(--dark-accent);
  }

  .triangle-right.highlight2 {
    border-bottom: 100px solid var(--light-accent);
  }

  .triangle-right.highlight3 {
    border-bottom: 100px solid var(--med-accent);
  }

  .highlight-game {
    font-weight: bold;
    color: white; /* Yellow */
  }

.custom-alert {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.custom-alert-content {
  background-color: #fefefe;
  margin: auto;
  padding: 100px;
  border: 1px solid #888;
  max-width: 50vw;
  width: 90%;
  max-height: 95vh;
  overflow-y: auto;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: justify;
}

.close {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 60px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-alert-content p {
    font-family: var(--secondary-font);
    font-weight: bold;
}

#alertMessage {
  color: black;
}

.round-transitioner {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  transform-origin: center;
  background-color: var(--background-two);
  display: block;
  transition: left 0.5s ease-in-out;
  opacity: 1;
  z-index: 1000;
}

.round-transitioner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5em;
  text-align: center;
}

.round-go {
  /* left: -100%; */
  /* transition: left 0.5s ease-in-out; */
  opacity: 0;
  animation: fadeOut 0.5s ease-in;
  /* top: -100%; */
  /* transition: top 0.5s ease-in; */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.round-vanish {
  display: none;
}

.round-transitioner-underline {
  display: block;
  position: relative;
  transform-origin: center;
  top: 60%; /* need a better metric */
  left: 25%;
  width: 50%;
  height: 2vh;
  background-color: var(--accent-four);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.round-underline-go {
  animation: swoosh 1.5s ease-in-out;
}

@keyframes swoosh {
  0% { transform: scaleX(0); }
  50% { transform: scaleX(1); opacity: 1 }
  100% { transform: scaleX(1); opacity: 0 }
}

.round-underline-hide {
  display: none;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.help-case-buttons {
  display: 'flex';
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: '20px';
}

.help-case {
  width: 45%;
  height: 100%;
  margin: 10px;
  background-color: var(--accent-two);
  text-align: center;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 black;
  font-family: var(--universal-font);
}
.help-case:active {
  /* Simulate the button being pressed */
  transform: translate(0.3em, 0.3em); /* Move the button down */
  box-shadow: 0em 0em 0 0; /* Reduce shadow size */
}

.help-active {
  background-color: var(--accent-five);
}

.replay-tutorial {
  display: block;
  width: 50%;
  height: 100%;
  margin: 30px auto; 
  background-color: var(--accent-two);
  text-align: center;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 black;
  font-family: var(--universal-font);
}

.replay-tutorial:active {
  transform: translate(0.3em, 0.3em); /* Move the button down */
  box-shadow: 0em 0em 0 0; /* Reduce shadow size */
}

#actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  width: 100%;
}

#scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.trapezoid {
  background: #002244; /* Default dark blue */
  padding: 10px 20px;
  width: 100px;
  font-size: 2.2em;
  font-weight: bold;
  color: white;
  text-align: center;
}

.ai-trapezoid {
  background: var(--accent-three);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%); /* right trapezoid facing left */
  border: 2px solid black;
  padding: 10px;
  padding-right: 20px;
  font-weight: bold;
  border: 2px solid black;
  text-align: right;
}

.user-trapezoid {
  background: var(--accent-three);
  clip-path: polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%); /* right trapezoid facing right */
  border: 2px solid black;
  padding: 10px;
  padding-left: 20px;
  font-weight: bold;
  border: 2px solid black;
  text-align: left;
}

.score {
  background: white;
  color: black;
  width: 80px;
  padding: 10px;
  font-size: 2.2em;
  font-weight: bold;
  border: 2px solid black;
  text-align: center;
}

#ai-score {
  border-right: 2px solid black;
}

#user-score {
  border-left: 2px solid black;
}

.error-message2 {
  position: absolute;
  bottom: 80%;
  right: 0;
  color: red;
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.error-shake2 {
  animation: shake linear 0.1s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translateX(0px) translateY(0px); }
  20% { transform: translateX(-10px) translateY(10px); }
  40% { transform: translateX(10px) translateY(-10px); }
  60% { transform: translateX(-10px) translateY(10px); }
  80% { transform: translateX(10px) translateY(-10px); }
  100% { transform: translateX(0px) translateY(0px); }
}

@media (max-width: 1580px) {
  .proceed-button, #help-button.help-button, .go-to-chat {
    transform: scale(0.9);
  }

  .proceed-button:active, #help-button.help-button:active, #proceed-chat.go-to-chat:active {
    transform: scale(0.9) translate(calc(0.3em * 0.9), calc(0.3em * 0.9));
}

.scoreboard {
  transform: scale(0.95);
}
}

@media (max-width: 1280px) {
  .proceed-button {
    transform: scale(0.8);
  }

  .proceed-button:active {
    transform: scale(0.8) translate(calc(0.3em * 0.8), calc(0.3em * 0.8));
}

#helpText.text {
  font-size: 25px;
}

.text {
  font-size: 25px;
}

}