/* GameTutorial.css */
  .game-tutorial {
    background-color: var(--background-two);
  }

  .decision-tutorial-button {
    padding: 0.5em 2em;
    background-color: white;
    color: var(--accent-three);
    border: none;
    border-radius: 20px;
    margin-top: 70px;
    font-size: 1.2em;
  }
    
  .game-tutorial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
    /* Horizontal layout for AI score, triangle grid, and User score */
  .tutorial-horizontal-layout {
    display: flex;
    align-items: center; /* Vertically align the elements */
    justify-content: space-around; /* Add some space between the elements */
    width: 100%; /* Make sure it spans the entire width */
  }

  .tutorial-ai-score, .tutorial-user-score {
    color: var(--accent-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
  }
    
  .tutorial-score-value {
    font-size: 2em;
    color: var(--accent-three);
  }

  .tutorial-score-change {
    font-size: 2em;
    color: var(--background-one);
    font-weight: bold;
  }
    
  .tutorial-decision-boxes {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #4c4b4b;
  }
  
  .tutorial-ai-decision, .tutorial-user-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tutorial-decision-button {
    background-color: #4c4b4b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
  }

  .tutorial-decision-button:hover, .tutorial-proceed-button:hover{
    background-color: var(--accent-five);
  }
  
  .tutorial-proceed-button {
    margin-top: 5em;
    background-color: var(--accent-one);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    font-family: 'Chakra Petch', sans-serif;
  }

  .tutorial-triangle-left {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  .tutorial-triangle-left:hover {
    border-top: 100px solid var(--button-one);
  }

  .tutorial-triangle-right {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  .tutorial-triangle-right:hover {
    border-bottom: 100px solid var(--button-one);
  }

  .tutorial-column-1, .tutorial-column-2, .tutorial-column-3, .tutorial-column-4 {
    width: 105px;
  }

