/* GameTutorial.css */
.tutorial-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-top: 60px;
  width: 100%;
}

.game-tutorial {
  background-color: var(--background-two);
}

.hidden {
  opacity: 0;
  /* display: block; */
}

.free-play-disclaimer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 4vh;
  width: 100vw;
  /* Stripes credit: https://css-tricks.com/stripes-css/ */
  background: repeating-linear-gradient(
    45deg,
    var(--accent-one),
    var(--accent-one) 10px,
    var(--accent-two) 10px,
    var(--accent-two) 20px
  );
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25em;
  color: white;
  text-shadow: 2px 2px 3px var(--accent-three);
  border: 1px solid var(--accent-one);
}


.tutorial-disclaimer {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 4vh;
  width: 100vw;
  /* Stripes credit: https://css-tricks.com/stripes-css/ */
  /* background: repeating-linear-gradient(
    45deg,
    var(--accent-one),
    var(--accent-one) 10px,
    var(--accent-five) 10px,
    var(--accent-five) 20px
  ); */
  padding: 0px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.25em;
  color: white;
}

.tutorial-disclaimer p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
}

.tutorial-disclaimer-logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 4vh;
  width: 300vw;
  /* Stripes credit: https://css-tricks.com/stripes-css/ */
  background: repeating-linear-gradient(
    45deg,
    var(--accent-one),
    var(--accent-one) 10px,
    var(--accent-five) 10px,
    var(--accent-five) 20px
  );
  animation: forStripes 30s linear infinite; 
  z-index: 1;
}  

@keyframes forStripes {
  0% {
    transform: translateX(-100vw);
    z-index: 0;
  }
  100% {
    transform: translateX(0%);
    z-index: 0;
  }
}


.focus-container {
  position: fixed;
  
  z-index: 1000;
  background-color: white;
  box-shadow: 10px 10px 0 0 var(--accent-one);
  display: flex;
  flex-direction: column;
  align-items: center;  /* Center align content horizontally */
  justify-content: center;  /* Center align content vertically */
  padding: 40px; /* Add padding for spacing */
  font-family: var(--secondary-font);
  font-weight: bold;


  /* STYLES TO ANIMATE */
  top: 30%;
  width: 75%;
  height: 40%;
  font-size: 2em;
  border-radius: 3em;
}

.decision-tutorial-box1 {
  display: grid;
  place-items: center;

  position: relative;
  margin-bottom: 20px;
  padding: 15px; /* Add padding for better readability */
  z-index: 1; /* Ensure it is above the shadow */
  background-color: white; /* Match the button's background */
  color: var(--accent-three); /* Match the text color */
  border: 0px; /* Border to define the box */
  font-family: var(--secondary-font);
  font-weight: bold;
  text-align: center; /* Center-align the text */
  line-height: 1.5; /* Improve readability */

  box-shadow: 0.3em 0.3em 0 0 var(--accent-one);

  /* STYLES TO ANIMATE */
  top: -10%;
  width: 75%;
  height: fit-content; 
  font-size: 1.5em;
  border-radius: 20px;

    /* APPLY ANIMATION */
  animation: focusTransition1 1s ease-in-out;

  /* transition: height 5s ease-in-out; */
}

@keyframes focusTransition1 {
  0% {
    /* Start with Dimensions of the Focus container */
    position: absolute;
    top: 30%;
    width: 75%;
    height: 40%;
    font-size: 2em;
    border-radius: 3em;
  }
  90% {
    opacity: 0;
    top: 5%;
    width: 75%;
    height: 15%; 
    /* font-size: 1.2em; */
    border-radius: 20px;
  }
  91% {
    height: fit-content; 
  }
  100% { 
    position: absolute;
    opacity: 1;
    top: 5%;
    width: 75%;
    height: fit-content; 
    /* font-size: 1.2em; */
    border-radius: 20px;
    }
}

.decision-tutorial-box2 {
  display: grid;
  place-items: center;

  position: relative;
  padding: 15px; /* Add padding for better readability */
  z-index: 1; /* Ensure it is above the shadow */
  background-color: white; /* Match the button's background */
  color: var(--accent-three); /* Match the text color */
  border: 0px; /* Border to define the box */
  font-family: var(--universal-font);
  text-align: center; /* Center-align the text */
  line-height: 1.5; /* Improve readability */

  box-shadow: 0.3em 0.3em 0 0 var(--accent-one);

  /* STYLES TO ANIMATE */
  top: -10%;
  width: 60%;
  height: fit-content; 
  font-size: 1.2em;
  border-radius: 20px;

    /* APPLY ANIMATION */
  animation: focusTransition2 1s ease-in-out;

  /* transition: height 5s ease-in-out; */
}

@keyframes focusTransition2 {
  0% {
    /* Start with Dimensions of the Focus container */
    position: absolute;
    top: 30%;
    width: 75%;
    height: 40%;
    font-size: 2em;
    border-radius: 3em;
  }
  90% {
    opacity: 0;
    top: 25%;
    width: 60%;
    height: 15%; 
    /* font-size: 1.2em; */
    border-radius: 20px;
  }
  91% {
    height: fit-content; 
  }
  100% { 
    position: absolute;
    opacity: 1;
    top: 25%;
    width: 60%;
    height: fit-content; 
    /* font-size: 1.2em; */
    border-radius: 20px;
    }
}

  .decision-tutorial-button {
    padding: 0.5em 2em;
    background-color: white;
    color: var(--accent-three);
    border: none;
    border-radius: 20px;
    margin-top: 70px;
    font-size: 1.2em;
  }
    
  .game-tutorial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
    
    /* Horizontal layout for AI score, triangle grid, and User score */
  .tutorial-horizontal-layout {
    display: flex;
    align-items: center; /* Vertically align the elements */
    justify-content: space-around; /* Add some space between the elements */
    width: 100%; /* Make sure it spans the entire width */
    margin-top: 0px;
  }

  .tutorial-ai-score, .tutorial-user-score {
    color: var(--accent-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--universal-font);
  }
    
  .tutorial-score-value {
    font-size: 2em;
    color: var(--accent-three);
  }

  .tutorial-score-change {
    font-size: 2em;
    color: var(--background-one);
    font-weight: bold;
  }
    
  .tutorial-decision-boxes {
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: #4c4b4b;
  }
  
  .tutorial-ai-decision, .tutorial-user-decision {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .tutorial-decision-button {
    background-color: #4c4b4b;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .tutorial-proceed-button, .tutorial-button {
    margin: 70px;
    background-color: var(--accent-three);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.5em 1.5em;
    font-size: 2.2em;
    cursor: pointer;
    box-shadow: 0.3em 0.3em 0 0 var(--button-two);
    font-family: var(--universal-font);
  }

  .tutorial-button.defect.selected, .tutorial-button.cooperate.selected {
    background-color: var(--med-accent);
    box-shadow: 0.3em 0.3em 0 0 black;
  }

  .tutorial-proceed-button:active, .tutorial-button:active {
    /* Simulate the button being pressed */
    transform: translate(0.3em, 0.3em); /* Move the button down */
    box-shadow: 0em 0em 0 0; /* Reduce shadow size */
  }
  
  .tutorial-triangle-left {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  .top {
    border-top: 100px solid var(--button-two); /* Red for top-pointing triangles */
  }

  /* .tutorial-triangle-left:hover {
    border-top: 100px solid var(--button-one);
  } */

  .tutorial-triangle-right {
    position: relative;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid white; /* Use 87px to ensure an equilateral triangle */
    transform: rotate(90deg); /* Rotate to make hypotenuse vertical */
    margin-bottom: 7px;
  }

  .bottom {
    border-bottom: 100px solid var(--button-two); /* Red for bottom-pointing triangles */
  }

  /* .tutorial-triangle-right:hover {
    border-bottom: 100px solid var(--button-one);
  } */

  .tutorial-column-1, .tutorial-column-2, .tutorial-column-3, .tutorial-column-4 {
    width: 105px;
  }

  .triangle-number {
    position: absolute; /* Position relative to the triangle */
    top: 45px; /* Center vertically */
    left: -15px; /* Center horizontally */
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: var(--score); /* Adjust for visibility */
    text-align: center;
    font-size: 26px;
    pointer-events: none; /* Prevent interaction with numbers */
  }

  .triangle-number-left-up {
    position: absolute; /* Position relative to the triangle */
    top: -78px; /* Center vertically */
    left: -17px; /* Center horizontally */
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: var(--score); /* Adjust for visibility */
    text-align: center;
    pointer-events: none; /* Prevent interaction with numbers */
    font-size: 26px;
  }

  .triangle-number-left-bottom {
    position: absolute; /* Position relative to the triangle */
    top: -75px; /* Center vertically */
    left: -17px; /* Center horizontally */
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: var(--score); /* Adjust for visibility */
    text-align: center;
    pointer-events: none; /* Prevent interaction with numbers */
    font-size: 26px;
  }

  .triangle-number-right-up {
    position: absolute; /* Position relative to the triangle */
    top: 45px; /* Center vertically */
    left: -17px; /* Center horizontally */
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: var(--score); /* Adjust for visibility */
    text-align: center;
    font-size: 26px;
    pointer-events: none; /* Prevent interaction with numbers */
  }

  .triangle-number-right-bottom {
    position: absolute; /* Position relative to the triangle */
    top: 43px; /* Center vertically */
    left: -18px; /* Center horizontally */
    transform: rotate(270deg);
    font-size: 14px;
    font-weight: bold;
    color: var(--score); /* Adjust for visibility */
    text-align: center;
    font-size: 26px;
    pointer-events: none; /* Prevent interaction with numbers */
  }

  .tutorial-triangle-left.highlight1 {
    border-top: 100px solid var(--dark-accent);
  }
  
  .tutorial-triangle-left.highlight2 {
    border-top: 100px solid var(--light-accent);
  }

  .tutorial-triangle-left.highlight3 {
    border-top: 100px solid var(--med-accent);
  }

  .tutorial-triangle-right.highlight1 {
    border-bottom: 100px solid var(--dark-accent);
  }

  .tutorial-triangle-right.highlight2 {
    border-bottom: 100px solid var(--light-accent);
  }

  .tutorial-triangle-right.highlight3 {
    border-bottom: 100px solid var(--med-accent);
  }

  .ai-defect-desc {
    position: relative;
    left: -120px; 
    bottom: 50px;
    font-weight: bold;
    display: inline-block; 
    transform: rotate(225deg);  
    transform-origin: center; 
  }

.ai-cooperate-desc {
  position: relative;
  left: -90px; 
  bottom: 40px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(225deg);  
  transform-origin: center; 

  /* OLD!!! 
  position: absolute;
  left: -116px; 
  bottom: 25px;
  color: var(--accent-three);
  font-size: 14px;
  white-space: nowrap;
  transform: rotate(225deg);
  font-weight: bold; */
}

.ai-defect-desc.highlight, .ai-cooperate-desc.highlight, .user-defect-desc.highlight, .user-cooperate-desc.highlight{
  color: white;
}

.user-defect-desc {
  position: relative;
  left: -115px; 
  bottom: 0px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(315deg);  
  transform-origin: center; 

/*   OLD!!!
  position: absolute;
  left: -110px; 
  top: 30px;
  color: var(--accent-three);
  font-size: 14px;
  white-space: nowrap;
  transform: rotate(315deg);
  font-weight: bold; */
}

.user-cooperate-desc {
  position: relative;
  left: -95px; 
  bottom: 5px;
  font-weight: bold;
  display: inline-block; 
  transform: rotate(315deg);  
  transform-origin: center; 

  /* OLD!!! 
position: absolute;
left: -120px; 
top: 30px;
color: var(--accent-three);
font-size: 14px;
white-space: nowrap;
transform: rotate(315deg);
font-weight: bold; */
}


.chat-tutorial-proceed {
  margin: 0px 100px 20px 0px;
  background-color: var(--accent-three);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  font-size: 2.2em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 var(--button-two);
  font-family: var(--universal-font);
  /* position: absolute;
  right: 10px;
  bottom: 10px; */
  transform-origin: top right;
}

.end-tutorial {
  background-color: var(--accent-three);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 var(--button-two);
  font-family: var(--universal-font);
  position: relative;
  top: -10%;
  transform-origin: center center;
}


.chat-tutorial-proceed-disabled {
  cursor: not-allowed;
}

.lockin-disabled {
  cursor: not-allowed !important;
}


.bottom-info-can {
  position: absolute;
  bottom: 1%;
  font-size: 2em;
  animation: fade-flash 1s, mini-bob 2s infinite 1s;
  animation-fill-mode: forwards; 
}

.bottom-info-wait {
  position: absolute;
  bottom: 1%;
  font-size: 2em;
  animation: fade-flash2 1.0s;
}

@keyframes fade-flash {
  0% {
    opacity: 0;
  }
  33% {
    transform: rotate(5deg);
  }
  50% {
    opacity: 1;
    bottom: 2%;  
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    bottom: 1%;
  }
}

@keyframes fade-flash2 {
  0% {
    opacity: 0;
  }
  33% {
    transform: rotate(5deg);
  }
  50% {
    opacity: 1;
    bottom: 2%;
  }
  66% {
    transform: rotate(-5deg);
  }
  100% {
    opacity: 1;
    bottom: 1%;
  }
}

@keyframes mini-bob {
  0%, 50%, 100% {
    transform: translate(0, 0);
  }
  75% {
    transform: translate(0, -0.5em);
  }
}




/* MIGRATED FROM DEMOCHAT.CSS */
/* Tooltip styles */
[data-tooltip] {
  position: relative;
  /*font-size: 1.2em; /* NOTE: Font size no longer set here, it's set at the cases in bottom */
  transition: width 1s ease-in-out;
}

/* might need to add !impt so it stays where it should be in new layout */

[data-tooltip]::after { /* Tooltip text */
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  background-color: rgb(178, 225, 244); 
  color: var(--accent-three);
  font-family: var(--secondary-font);
  font-weight: bold;
  padding: 0.5em;
  border-radius: 5px;
  white-space: nowrap;
  pointer-events: none; 
  font-weight: normal;
  z-index: 1000;
  opacity: 1;
  box-shadow: 0.3em 0.3em 0 0 rgb(0, 119, 167); 
  /* animation: bob 1s infinite; */
  min-width: 0;
  transition: min-width 1s;
}

[data-tooltip]::before { /* Tooltip arrow */
  content: '';
  position: absolute;
  left: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent; 
  z-index: 100;
  /* animation: bob 1s infinite; */
}

/* Fading effects */
[data-tooltip].show::after { /* Tooltip text */
  animation: fade-in 1.0s, bob 1s infinite;
  animation-fill-mode: forwards;
}

[data-tooltip].show::before { /* Tooltip arrow */
  animation: fade-in 1.0s, bob 1s infinite;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bob {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -0.5em);
  }
}

.error-shake {
  animation: shake linear 0.1s;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translateX(0px) translateY(0px); }
  20% { transform: translateX(-10px) translateY(10px); }
  40% { transform: translateX(10px) translateY(-10px); }
  60% { transform: translateX(-10px) translateY(10px); }
  80% { transform: translateX(10px) translateY(-10px); }
  100% { transform: translateX(0px) translateY(0px); }
}


/* POP UP POSITIONS */

.tutorial-horizontal-layout[data-tooltip]::before {
  top: calc(-30% + 3.25em);
  left: 49.75%;
}

.tutorial-horizontal-layout[data-tooltip]::after {
  top: -30%;
  left: 49.75%;
  font-size: 20px;
}

.ai-defect-desc[data-tooltip]::before {
  top: 3.75em;
  left: -50%;
}

.ai-defect-desc[data-tooltip]::after {
  top: 0.25em;
  left: -110%;
  font-size: 20px;
}

.user-defect-desc[data-tooltip]::before {
  top: 3.75em;
  left: 95%;
}

.user-defect-desc[data-tooltip]::after {
  top: 0.25em;
  left: 180%;
  font-size: 20px;
}

.tutorial-ai-score[data-tooltip]::before  {
  top: -0em;
  left: 50%
}

.tutorial-ai-score[data-tooltip]::after {
  top: -2.75em;
  left: 50%;
  font-size: 20px;
}

.tutorial-user-score[data-tooltip]::before {
  top: -0em;
  left: 50%;
}

.tutorial-user-score[data-tooltip]::after   {
  top: -2.75em;
  left: 50%;
  font-size: 20px;
}

.chat-tutorial-proceed[data-tooltip]::before {
  top: -0.25em;
  left: 50%;
}

.chat-tutorial-proceed[data-tooltip]::after {
  top: -3em;
  left: 75%;
  font-size: 20px;
}

/* for some reason this one needs 3em offset */
#lockin-button[data-tooltip]::before {
  top: -0.25em;
  left: 50%;
}

#lockin-button[data-tooltip]::after {
  top: -3.25em;
  left: 25%;
  font-size: 20px;
}
