/* Survey.css */
.survey-container {
  background-color: var(--background-one);
}

.survey-button {
    padding: 0.5em 2em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--button-one);
    color: white;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-top: 1em;
    font-family: 'Chakra Petch', sans-serif;
  }

  .survey-button:hover {
    background-color: var(--accent-five);
  }

 .survey-subtitle {
    font-size: 60px;
    margin: 0.1em;
    color: var(--accent-three);
  }