/* Login.css */

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #fbdf82;
}

.login-container {
  position: relative;
  background-color: white;
  /* padding: 10em; */
  border-radius: 3em;
  z-index: 1;
}

.shadow-container {
  position: absolute;
  background-color: #ffb703;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  padding: 10em;
  border-radius: 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 3em;
  padding: 5em 10em;
  z-index: 1;
}
  
.login {
  font-size: 80px;
  margin: 0 0 0.3em 0;
  color: #26244c;
  font-family: 'Jaro';
}

.login-form {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  gap: 1em;
}
  
.userid-input[type="text"] {
  padding: 0.4em 1em;
  font-size: 1.2em;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-family: 'Jockey One';
  width: 250px;
  transition: border-color 0.3s ease;
}
  
.userid-input[type="text"]:focus {
  border-color: #99d6ea;
}

.login-button {
  padding: 0.3em 1.5em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #99d6ea;
  color: white;
  border: none;
  border-radius: 20px;
  font-family: 'Jockey One';
}

.login-button:hover {
  background-color: #4c4b4b;
}

.login-tip {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  max-width: 25em;
  word-wrap: break-word;
  margin-top: 1em;
}

.login-tip p {
  font-family: 'Jockey One';
  color: #26244c;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
}
  