/* Login.css */

.menu-container {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 1000;
}

.menu-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 70px;
  right: 5px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1001;
  min-width: 200px;
  width: max-content;
}

.dropdown-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu li {
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}

.dropdown-menu li:hover {
  background-color: #f9f9f9;
}

/* Remove the border for the last item */
.dropdown-menu li:last-child {
  border-bottom: none;
}

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--background-one);
}

.login-container {
  position: relative;
}

.shadow-container {
  position: absolute;
  background-color: var(--accent-one);
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  padding: 10em;
  border-radius: 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  border-radius: 3em;
  padding: 5em 10em;
  z-index: 1;
}
  
.login {
  font-size: 80px;
  margin: 0 0 0.3em 0;
  color: var(--accent-three);
  font-family: var(--universal-font);
}

.login-form {
  display: flex;
  justify-content: center;
  /* align-items: baseline; */
  gap: 1em;
}
  
.userid-input[type="text"] {
  padding: 0.4em 1em;
  font-size: 1.2em;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-family: var(--universal-font);
  width: 250px;
  transition: border-color 0.3s ease;
}
  
.userid-input[type="text"]:focus {
  border-color: var(--background-two);
}

.login-button {
  padding: 0.3em 1.5em;
  font-size: 1.5em;
  cursor: pointer;
  background-color: var(--background-two);
  color: white;
  border: none;
  border-radius: 20px;
  font-family: var(--universal-font);
  box-shadow: 0.3em 0.3em 0 0 black;
}

.login-button:active {
  /* Simulate the button being pressed */
  transform: translate(0.3em, 0.3em); /* Move the button down */
  box-shadow: 0em 0em 0 0; /* Reduce shadow size */
}

.login-tip {
  display: inline-block;
  overflow: hidden;
  text-align: center;
  max-width: 25em;
  word-wrap: break-word;
  margin-top: 1em;
}

.login-tip p {
  font-family: var(--secondary-font);
  color: var(--accent-three);
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
  