/* Login.css */

.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #fbdf82;
}

.login-container {
  position: relative;
  background-color: white;
  /* padding: 10em; */
  border-radius: 3em;
  z-index: 1;
}

.shadow-container {
  position: absolute;
  background-color: #ffb703;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  padding: 10em;
  border-radius: 3em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.login-content {
  position: relative;
  background-color: white;
  border-radius: 3em;
  padding: 10em;
  z-index: 1;
}
  
.login {
    font-size: 80px;
    margin: 0.3em;
    color: #26244c;
 }

 .login-form {
  display: flex;
  align-items: baseline;
  gap: 1em;
 }
  
  .userid-input[type="text"] {
    padding: 0.7em 1em;
    font-size: 1.2em;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 1em;
    outline: none;
    font-family: 'Chakra Petch', sans-serif;
    width: 250px;
    transition: border-color 0.3s ease;
  }
  
  .userid-input[type="text"]:focus {
    border-color: #da7e7e;
  }

  .login-button {
    padding: 0.5em 1.5em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #99d6ea;
    color: white;
    border: none;
    border-radius: 20px;
    font-family: 'Chakra Petch', sans-serif;
  }
  
  .login-button:hover {
    background-color: #4c4b4b;
  }
  
  .error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 0.5em;
  }
  